@* paintChat Template File *@
@(Title: String)

@main("Paint-The Game"){
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6">
				<ul class="nav nav-tabs">
					<li class="active"><a  id="Game" href="#Game1" data-toggle="tab">Game 1</a></li>
					<li><a id="Game2" href="#Game1" data-toggle="tab" >Game 2</a></li>
					<li><a id="Game3" href="#Game1" data-toggle="tab" >Game 3</a></li>
				</ul>
			</div>
			<div class="col-md-6">
				<ul class="nav nav-tabs">
					<li class="active"><a href="#ChatBox" data-toggle="tab">Chat</a></li>
					<li><a href="#PastGames" data-toggle="tab">Past Games</a></li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="tab-content">
				  <div class="tab-pane active" id="Game1">
					  <div class="row">
					  	<div class="btn-group">
					  		<button type="button" id="#ff0000"class="btn btn-default colorChanger">Red</button>
					  		<button type="button" id="#4c8bff" class="btn btn-default colorChanger">Blue</button>
					  		<button type="button" id="#3cff00" class="btn btn-default colorChanger">Green</button>
					  		<button type="button" id="#ddd" class="btn btn-default colorChanger">Eraser</button>
					  		<button type="button" id="clear" class="btn btn-default colorChanger">Clear</button>
					  		<button type="button" id="save" class="btn btn-default">Save To Server</button>
					  	</div>
					  </div>
				  </div>
				  <div id="word">
				  </div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="tab-content">
				  <div class="tab-pane active panel panel-default" id="ChatBox">
				  	<div class="panel-body">
				  		<div class="row">
				  			<dl id="insertChat" class="dl-horizontal" style="overflow-y:scroll; height:300px"></dl>
				  		</div>
				  	</div>
				  	<div class="panel-footer">
				  		<input type="text" id="talk"/>
				  		<button class="btn btn-default" type="button" id="submitTalk">Submit</button>
				  	</div>
				  </div>
				  <div class="row">
				  	<ul>
				  		<li>Members</li>
				  		<ul id="insertMembers" style="overflow-y:scroll; height:100px">
					  	</ul>
				  	</ul>
				  </div>
				  <div class="tab-pane" id="PastGames">...5</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="startModal" tabindex="-1" data-backdrop="static" role="dialog" aria-labelledby="startModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h4 class="modal-title" id="startModalLabel">Paint: The Game</h4>
	      </div>
	      <div class="modal-body">
	        <p id="UserModal">Enter a Username to being playing Paint!</p>
	        <input type="text" id="userInput"/>
	        <button type="button" id="checkUser" class="btn btn-primary">Check Username</button>
	      </div>
	      <div class="modal-footer">
	        
	      </div>
	    </div>
	  </div>
	</div>
	<script src="@routes.Assets.at("javascripts/paintCanvas.js")" type = "text/javascript")></script>
}